<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widget</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="popup-widget" id="popup-widget">
                                        <div class="card bg-gradient-dark move-on-hover">
                                                        <div class="card-body">
                                                            <div class="d-flex">
                                                                <h5 class="mb-0 text-white">Accept?</h5><i class="fas fa-check"></i>
                                                            </div>
                                                            <p class="text-white mb-0">We use cookies to offer the best experience to you</p>
                                                        </div>
                                                        <div class=" justify-content-center align-items-center d-flex"> <a href="" target="_blank" class="btn  btn-white btn-sm w-80 mb-3">OKAY</a></div>
                                                    </div>
                                                </div>
<div class="popup-widget1" id="popup-widget1">
    <div class="card card-background card-background-mask-primary move-on-hover align-items-start">
                                                        <div class="cursor-pointer">
                                                            <div class="full-background" style="background-image: url('{{ url_for('static', filename='img/curved-images/curved1.jpg') }}')"
                                                            ></div>
                                                            <div class="card-body">
                                                                <div class="d-flex">
                                                                    <h5 class="mb-0 text-white">Accept?</h5><i class="fas fa-check"></i>
                                                                </div>                              <p class="text-white mb-0">We use cookies to offer the best experience to you</p>
                                                                
                                                                
                                                                
                                                                
                                                                <!-- Sidenav Type -->
                                                                
                                                                <div class="d-flex1 mt-21">
                                                                    <button class="btn bg-gradient-dark w-100 px-3 mb-1 active" data-class="bg-transparent">Deny</button>
                                                                    <button class="btn bg-gradient-success w-100 px-3 mb-1 ms-21" data-class="bg-white" >Accept</button>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
        
    <button onclick="parent.parent.togglePopup1()">Close</button>
</div>

<div class="popup-widget2" id="popup-widget2">
   <div class="card card-background1 card-background-mask-secondary1 bg-gradient-faded-warning move-on-hover align-items-start">
                                                        <div class="cursor-pointer">
                                                            
                                                            <div class="card-body">
                                                                <div class="d-flex">
                                                                    <h5 class="mb-0 text-dark">Accept?</h5><i class="fas fa-check"></i>
                                                                </div>                              <p class="text-dark mb-0">We use cookies to offer the best experience to you</p>
                                                                
                                                                
                                                                
                                                            </div>
                                                            <div class="d-flex bg-warning mt-2">
                                                                <button class="btn bg-gradient-dark w-100 px-0 mb-1 active" data-class="bg-transparent">Privacy Policy</button>
                                                                <button class="btn bg-gradient-success w-100 px-0 mb-1 ms-2" data-class="bg-white" >Accept</button>
                                                            </div>                                  </div>
                                                    </div>
   
    <button onclick="parent.parent.togglePopup2()">Close</button>
</div>

<div class="popup-widget3" id="popup-widget3"> 
  <div class="card bg-gradient-faded-primary move-on-hover align-items-start">
                                                        <div class="cursor-pointer">
                                                            
                                                            <div class="card-body">
                                                                <div class="d-flex">
                                                                    <h5 class="mb-0 text-white">Accept?</h5><i class="fas fa-check"></i>
                                                                </div>                              <p class="text-white mb-0">We use cookies to offer the best experience to you</p>
                                                                
                                                                
                                                                
                                                                
                                                                <!-- Sidenav Type -->
                                                                
                                                                <div class="d-flex mt-2">
                                                                    <button class="btn bg-gradient-dark w-1001 px-3 mb-1 active" data-class="bg-transparent">Deny</button>
                                                                    <button class="btn bg-gradient-success w-1001 px-3 mb-1 ms-2" data-class="bg-white" >Accept</button>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
      </div>
<div class="popup-widget4" id="popup-widget4"> 
     <div class="card bg-gradient-faded-secondary move-on-hover align-items-start">
                                                        <div class="cursor-pointer">
                                                            
                                                            <div class="card-body">
                                                                <div class="d-flex">
                                                                    <h5 class="mb-0 text-white">Accept?</h5><i class="fas fa-check"></i>
                                                                </div>                              <p class="text-white mb-0">We use cookies to offer the best experience to you</p>
                                                                <div class="d-flex mt-2 justify-content-center">
                                                                    <button class="btn bg-gradient-dark w-1001 px-3 mb-1 active" data-class="bg-transparent">Deny</button>
                                                                    <button class="btn bg-gradient-success align-items-end w-1001 px-3 mb-1 ms-2" data-class="bg-white" >Accept</button>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
   </div>
<div class="popup-widget5" id="popup-widget5"> 
     <div class="card bg-gradient-faded-success  move-on-hover align-items-start">
                                                        <div class="cursor-pointer">
                                                            
                                                            <div class="card-body">
                                                                <div class="d-flex">
                                                                    <h5 class="mb-0 text-white">Accept?</h5><i class="fas fa-check"></i>
                                                                </div>                              <p class="text-white mb-0">We use cookies to offer the best experience to you</p>
                                                                
                                                                
                                                                
                                                                
                                                                <!-- Sidenav Type -->
                                                                
                                                                <div class="d-flex mt-2">
                                                                    <button class="btn bg-gradient-dark w-100 px-3 mb-1 active" data-class="bg-transparent">Deny</button>
                                                                    <button class="btn bg-gradient-success w-100 px-3 mb-1 ms-2" data-class="bg-white" >Accept</button>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
  </div>
<div class="popup-widget6" id="popup-widget6"> 
  <div class="card bg-gradient-faded-info move-on-hover align-items-start">
                                                        <div class="cursor-pointer">
                                                            
                                                            <div class="card-body">
                                                                <div class="d-flex">
                                                                    <h5 class="mb-0 text-white">Accept?</h5><i class="fas fa-check"></i>
                                                                </div>                              <p class="text-white mb-0">We use cookies to offer the best experience to you</p>
                                                                
                                                                
                                                                
                                                                
                                                                <!-- Sidenav Type -->
                                                                
                                                                <div class="d-flex mt-2">
                                                                    <button class="btn bg-gradient-dark w-100 px-3 mb-1 active" data-class="bg-transparent">Deny</button>
                                                                    <button class="btn bg-gradient-success w-100 px-3 mb-1 ms-2" data-class="bg-white" >Accept</button>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
   </div>
<div class="popup-widget7" id="popup-widget7"> 
     <div class="card bg-gradient-faded-warning move-on-hover align-items-start">
                                                        <div class="cursor-pointer">
                                                            
                                                            <div class="card-body">
                                                                <div class="d-flex">
                                                                    <h5 class="mb-0 text-white">Accept?</h5><i class="fas fa-check"></i>
                                                                </div>                              <p class="text-white mb-0">We use cookies to offer the best experience to you</p>
                                                                
                                                                
                                                                
                                                                
                                                                <!-- Sidenav Type -->
                                                                
                                                                <div class="d-flex mt-2">
                                                                    <button class="btn bg-gradient-dark w-100 px-3 mb-1 active" data-class="bg-transparent">Deny</button>
                                                                    <button class="btn bg-gradient-success w-100 px-3 mb-1 ms-2" data-class="bg-white" >Accept</button>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
  </div>
<div class="popup-widget8" id="popup-widget8"> 
     <div class="card bg-gradient-faded-danger move-on-hover align-items-start">
                                                        <div class="cursor-pointer">
                                                            
                                                            <div class="card-body">
                                                                <div class="d-flex">
                                                                    <h5 class="mb-0 text-white">Accept?</h5><i class="fas fa-check"></i>
                                                                </div>                              <p class="text-white mb-0">We use cookies to offer the best experience to you</p>
                                                                
                                                                
                                                                
                                                                
                                                                <!-- Sidenav Type -->
                                                                
                                                                <div class="d-flex mt-2">
                                                                    <button class="btn bg-gradient-dark w-100 px-3 mb-1 active" data-class="bg-transparent">Deny</button>
                                                                    <button class="btn bg-gradient-success w-100 px-3 mb-1 ms-2" data-class="bg-white" >Accept</button>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
    </div>
<div class="popup-widget9" id="popup-widget9">
     <div class="card card-background card-background-mask-primary1 move-on-hover align-items-start">
                                                        <div class="cursor-pointer">
                                                            <div class="full-background" style="background-image: url('{{ url_for('static', filename='img/curved-images/curved8.jpg') }}');  background-size: cover;"
                                                            ></div>
                                                            <div class="card-body">
                                                                <div class="d-flex">
                                                                    <h5 class="mb-0 text-white">Accept?</h5><i class="fas fa-check"></i>
                                                                </div>                              <p class="text-white mb-0">We use cookies to offer the best experience to you</p>
                                                                
                                                                
                                                                
                                                                
                                                                <!-- Sidenav Type -->
                                                                
                                                                <div class="d-flex mt-2">
                                                                    <button class="btn bg-gradient-primary w-100 px-3 mb-1 active" data-class="bg-transparent">Deny</button>
                                                                    <button class="btn bg-gradient-secondary w-100 px-3 mb-1 ms-2" data-class="bg-white" >Accept</button>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
  </div>
<div class="popup-widget10" id="popup-widget10"> 
     <div class="card bg-gradient-faded-dark  move-on-hover align-items-start">
                                                        <div class="cursor-pointer">
                                                            
                                                            <div class="card-body">
                                                                <div class="d-flex">
                                                                    <h5 class="mb-0 text-white">Accept?</h5><i class="fas fa-check"></i>
                                                                </div>                              <p class="text-white mb-0">We use cookies to offer the best experience to you</p>
                                                                
                                                                
                                                                
                                                                
                                                                <!-- Sidenav Type -->
                                                                
                                                                <div class="d-flex mt-2">
                                                                    <button class="btn bg-gradient-dark w-100 px-3 mb-1 active" data-class="bg-transparent">Deny</button>
                                                                    <button class="btn bg-gradient-info w-100 px-3 mb-1 ms-2" data-class="bg-white" >Accept</button>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
  </div>
<div class="popup-widget11" id="popup-widget11"> 
     <div class="card  card-background bg-gradient-faded-white move-on-hover align-items-start">
                                                        <div class="cursor-pointer">
                                                            <div class="full-background" style="background-image: url('{{ url_for('static', filename='img/curved-images/curved6.jpg') }}');  background-size: cover;"
                                                            ></div>
                                                            <div class="card-body">
                                                                <div class="d-flex">
                                                                    <h5 class="mb-0 text-white">Accept?</h5><i class="fas fa-check"></i>
                                                                </div>                              <p class="text-white mb-0">We use cookies to offer the best experience to you</p>
                                                                
                                                                
                                                                
                                                                
                                                                <!-- Sidenav Type -->
                                                                
                                                                <div class="d-flex mt-2">
                                                                    <button class="btn bg-gradient-info w-100 px-3 mb-1 active" data-class="bg-transparent">Deny</button>
                                                                    <button class="btn bg-gradient-warning w-100 px-3 mb-1 ms-2" data-class="bg-white" >Accept</button>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
 </div>
<div class="popup-widget12" id="popup-widget12">
     <div class="card card-background card-background-mask-primary1 bg-gradient-faded-light1 move-on-hover align-items-start">
                                                        <div class="cursor-pointer">
                                                            <div class="full-background" style="background-image: url('{{ url_for('static', filename='img/curved-images/white-curved.jpg') }}');  background-size: cover;"
                                                            ></div>
                                                            <div class="card-body">
                                                                <div class="d-flex">
                                                                    <h5 class="mb-0 text-white">Accept?</h5><i class="fas fa-check"></i>
                                                                </div>                              <p class="text-white mb-0">We use cookies to offer the best experience to you</p>
                                                                
                                                                
                                                                
                                                                
                                                                <!-- Sidenav Type -->
                                                                
                                                                <div class="d-flex mt-2">
                                                                    <button class="btn bg-gradient-danger w-100 px-3 mb-1 active" data-class="bg-transparent">Deny</button>
                                                                    <button class="btn bg-gradient-light w-100 px-3 mb-1 ms-2" data-class="bg-white" >Accept</button>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
   </div>
<div class="popup-widget13" id="popup-widget13">
    <div class="card card-background shadow-none card-background-mask-secondary" id="sidenavCard">
                                                        <div class="full-background" style="background-image: url('{{ url_for('static', filename='img/curved-images/white-curved.jpg') }}');  background-size: cover;">
                                                        </div>
                                                        <div class="card-body text-start p-3 w-100">
                                                            <div class="icon icon-shape icon-sm bg-white shadow text-center mb-3 d-flex align-items-center justify-content-center border-radius-md">
                                                                <i class="ni ni-diamond text-dark text-gradient text-lg top-0" aria-hidden="true" id="sidenavCardIcon"></i>
                                                            </div>
                                                            <div class="docs-info">
                                                                <h6 class="text-white up mb-0">Accept?</h6>
                                                                <p class="text-xs font-weight-bold">We use cookies to offer the best experience to you</p>
                                                                <a href="" target="_blank" class="btn btn-warning btn-sm w-1001 mb-0">Okay</a>
                                                            </div>
                                                        </div>
                                                    </div>
   </div>
<div class="popup-widget14" id="popup-widget14"> 
      <div class="card card-background card-background-mask-primary move-on-hover align-items-start">
                                                        <div class="cursor-pointer">
                                                            <div class="full-background" style="background-image: url('{{ url_for('static', filename='img/curved-images/curved6.jpg') }}')"
                                                            ></div>
                                                            <div class="card-body">
                                                                <div class="d-flex">
                                                                    <h5 class="mb-0 text-white">Accept?</h5><i class="fas fa-check"></i>
                                                                </div>                              <p class="text-white mb-0">We use cookies to offer the best experience to you</p>
                                                                
                                                                
                                                                
                                                                
                                                                <!-- Sidenav Type -->
                                                                
                                                                <div class="d-flex mt-2">
                                                                    <button class="btn bg-gradient-dark w-100 px-3 mb-1 active" data-class="bg-transparent">Deny</button>
                                                                    <button class="btn bg-gradient-success w-100 px-3 mb-1 ms-2" data-class="bg-white" >Accept</button>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
   </div>
<div class="popup-widget15" id="popup-widget15">
    <div class="card card-background card-background-mask-primary1   bg-gradient-faded-primary-vertical move-on-hover align-items-start">
                                                        <div class="cursor-pointer">
                                                            <div class="full-background" style="background-image: url('{{ url_for('static', filename='img/curved-images/curved8.jpg') }}')"
                                                            ></div>
                                                            <div class="card-body">
                                                                <div class="d-flex">
                                                                    <h5 class="mb-0 text-white">Accept?</h5><i class="fas fa-check"></i>
                                                                </div>                              <p class="text-white mb-0">We use cookies to offer the best experience to you</p>
                                                                
                                                                
                                                                
                                                                
                                                                <!-- Sidenav Type -->
                                                                
                                                                <div class="d-flex mt-2">
                                                                    <button class="btn bg-gradient-dark w-100 px-3 mb-1 active" data-class="bg-transparent">Deny</button>
                                                                    <button class="btn bg-gradient-success w-100 px-3 mb-1 ms-2" data-class="bg-white" >Accept</button>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
    </div>
<div class="popup-widget16" id="popup-widget16"> 
      <div class="card card-background card-background-mask-primary  bg-gradient-faded-success-vertical move-on-hover align-items-start">
                                                        <div class="cursor-pointer">
                                                            <div class="full-background" style="background-image: url('{{ url_for('static', filename='img/curved-images/curved14.jpg') }}');  background-size: cover;"
                                                            ></div>
                                                            <div class="card-body">
                                                                <div class="d-flex">
                                                                    <h5 class="mb-0 text-white">Accept?</h5><i class="fas fa-check"></i>
                                                                </div>                              <p class="text-white mb-0">We use cookies to offer the best experience to you</p>
                                                                <div class="d-flex mt-2">
                                                                    <button class="btn bg-gradient-dark w-100 px-3 mb-1 active" data-class="bg-transparent">Deny</button>
                                                                    <button class="btn bg-gradient-success w-100 px-3 mb-1 ms-2" data-class="bg-white" >Accept</button>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
    </div>

<div class="website-content">
    {{ page_content | safe }}
</div>
<script>
    // Add base tag to the head of the loaded HTML content
    var website_url = '{{ website_url }}';
    var page_content = {{ page_content | tojson | safe }};
    var baseTag = '<base href="' + website_url + '">';
    page_content = page_content.replace(/(<head[^>]*>)/i, '$&' + baseTag);
    document.querySelector('.website-content').innerHTML = page_content;
</script>
</body>
</html>
